th, td {
  padding: 5px;
  text-align: left;
}

body {
  margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 8%;
}

.dropbtn {
    background-color: rgb(31, 119, 180);
    color: white;
    padding: 9px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 0px 0px; */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#holder {
  display: none;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #000;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

body {
  padding: 10px;
  font-size: 12px;
}
.well {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}
h1, h2 {
    display: inline;
}
h2 {
  margin-left: 25%;
}
h6 {
    display: inline;
    float: right;
}
table {
  font-size: 14px;
  line-height: 15px;
}
td, th {
  width: 35.3%;
  padding: 20px;
}
label {
  margin-bottom: 10px;
}

.lab {
  font-size: 115% !important;
  fill: rgb(0,0,128);
}

body {
  font-family: "Lato,Arial,Helvetica,sans-serif";
  font: 11px sans-serif;
}

body .well {
  border-color: rgb(58, 196, 150);
}
#tableDiv1 .well {
  background: none;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
